# vscode
.vscode

# Python
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
.venv/
*/.venv/
*/*/.venv/
*/*/*/.venv/

# envs
.env
*/.env
*/*/.env
*/*/*/.env
*/*/*/*/.env